<div id="<%= dom_id console %>">
<!--  <p>-->
<!--    <strong>Kind:</strong>-->
    <%#= console.kind %>
<!--  </p>-->

  <p>
    <strong>Name:</strong>
    <%= console.name %>
  </p>

  <p>
    <strong>Purchase date:</strong>
    <%= console.purchase_date %>
  </p>

</div>
