<h1>Log In</h1>
<%= form_tag auth_create_session_path do %>
  <label for="password">Password</label>
  <input id="password" name="password" type="password" required autofocus>
  <button type="submit">Log In</button>
<% end %>