<div id="<%= dom_id game %>" class="card">
  <p>
    <strong>Title:</strong>
    <%= game.title %>
  </p>

  <p>
    <strong>Console type:</strong>
    <%= game.console_type.titleize %>
  </p>

  <h3>Accounts that own this game:</h3>
  <ul>
    <% game.accounts.each do |account| %>
      <li><%= account.email %></li>
    <% end %>
  </ul>

</div>
