<div id="<%= dom_id account %>">
  <p>
    <strong>Email:</strong>
    <%= account.email %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= account.kind %>
  </p>

  <p>
    <strong>Console:</strong>
    <%= account.console_id %>
  </p>

</div>
